{% liquid
    case section.settings.collection_img_orientation
        when 'square'
            assign img_width  = 900
            assign img_height = 900
        when 'landscape'
            assign img_width  = 900
            assign img_height = 720
        when 'potrait'
            assign img_width  = 720
            assign img_height = 900
    endcase

    assign image = collection.image | default: collection.products.first.featured_image
    assign title = collection.title 

    unless block.settings.img == blank
        assign image = block.settings.img
    endunless

    unless block.settings.title == blank
        assign title = block.settings.title
    endunless
%}

<li class="collection-item p-3 p-lg-4" {{ block.shopify_attributes }}>
    <div 
        class="{% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}"
        data-animate-class="{{ section.settings.animation }}"
        style="animation-delay: {{ index | times: 150 }}ms;">
        <a 
            class="overflow-hidden" 
            href="{{ collection.url }}">
            {% if image == blank %}
                {{ 'collection-' | append: index | placeholder_svg_tag }}
            {% else %}
                <img 
                    class="collection-item-img img-fluid rounded w-100 {{ section.settings.collection_img_thumbnail }}"
                    src="{{ image | image_url: width: img_width, height: img_height, crop: 'center' }}" 
                    alt="{{ image.alt | escape }}"
                    width="{{ img_width }}"
                    height="{{ img_height }}"
                    loading="lazy">
            {% endif %}
            {% if section.settings.collection_show_title %}
                <h3 class="collection-item-title mb-0 {{ section.settings.collection_title_font_size_mobile | prepend: 'fs-' }} {{ section.settings.collection_title_font_size_desktop | prepend: 'fs-lg-' }}">
                    {{ title | default: 'Collection title' }}
                </h3>
            {% endif %}
        </a>
    </div>
</li>