{% if settings.language_selector_show and localization.available_languages.size > 1 %}
    <div class="language-selector btn-group dropup mx-2">
        <button
            class="btn btn-sm px-4 d-flex align-items-center dropdown-toggle {{ btn_color | default: 'btn-outline-primary' }}" 
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {% assign flag_name = localization.language.iso_code | downcase | prepend: 'flag-' | append: '.svg' %}
            <img
                class="img-fluid me-3"
                src="{{ flag_name | asset_url }}"
                alt=""
                width="18"
                height="18"
                loading="lazy">
            <span class="small">
                {{ localization.language.name }}
            </span>
        </button>
        <ul class="dropdown-menu shadow">
            {%- for language in localization.available_languages -%}
                <li>
                    <a 
                        class="dropdown-item d-flex {% if language.iso_code == localization.language.iso_code %}active{% endif %}" 
                        href="{{ language.root_url }}">
                        {% assign flag_name =  language.iso_code | downcase | prepend: 'flag-' | append: '.svg' %}
                        <img
                            class="img-fluid me-4"
                            src="{{ flag_name | asset_url }}"
                            alt=""
                            width="20"
                            height="20"
                            loading="lazy">
                        <span class="">
                            {{ language.endonym_name | capitalize }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}