{% if settings.currency_selector_show and shop.enabled_currencies.size > 1 %}
    <div class="currency-selector btn-group dropup mx-2">
        <button
            class="btn btn-sm px-4 d-flex align-items-center dropdown-toggle {{ btn_color | default: 'btn-outline-primary' }}" 
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {% assign flag_name =  cart.currency.iso_code | downcase | prepend: 'flag-' | append: '.svg' %}
            <img
                class="img-fluid me-3"
                src="{{ flag_name | asset_url }}"
                alt=""
                width="18"
                height="18"
                loading="lazy">
            <span class="small">
                {{ cart.currency.iso_code }}
            </span>
        </button>
        <ul class="dropdown-menu shadow">
            {% for currency in shop.enabled_currencies %}
                <li>
                    <a 
                        class="dropdown-item d-flex {% if currency.iso_code == cart.currency.iso_code %}active{% endif %}" 
                        href="{{ routes.root_url }}?currency={{ currency.iso_code | downcase }}">
                        {% assign flag_name =  currency.iso_code | downcase | prepend: 'flag-' | append: '.svg' %}
                        <img
                            class="img-fluid me-4"
                            src="{{ flag_name | asset_url }}"
                            alt=""
                            width="20"
                            height="20"
                            loading="lazy">
                        <span class="">
                            {{ currency.iso_code }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}