<div 
    class="{% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}"
    data-animate-class="{{ section.settings.animation }}"
    style="animation-delay: {{ index | times: 150 }}ms;">
    <div 
        class="card {{ block.settings.shadow }} {{ block.settings.border_color }}"
        style="border-width: {{ block.settings.border_width }}px;">
        <div class="card-body {{ block.settings.text_align }}">
            {% if block.settings.img != nil %}
                {% assign img_width_x2 = block.settings.img_width | times: 2 %}
                <img
                    class="img-fluid mb-4"
                    src="{{ block.settings.img.src | image_url: width: img_width_x2 }}"
                    alt="{{ block.settings.img.alt | escape }}"
                    width="{{ block.settings.img_width }}"
                    height="{{ block.settings.img_width | divided_by: block.settings.img.aspect_ratio }}"
                    loading="lazy">
            {% endif %}
            {% unless block.settings.title == blank %}
                <h3 class="title mb-4 {{ block.settings.title_font_size_mobile | prepend: 'fs-' }} {{ block.settings.title_font_size_desktop | prepend: 'fs-lg-' }}">
                    {{ block.settings.title }}
                </h3>
            {% endunless %}
            {% unless block.settings.description == blank %}
                <div class="description rte mt-n2 mb-0 {{ block.settings.description_font_size_mobile | prepend: 'fs-' }} {{ block.settings.description_font_size_desktop | prepend: 'fs-lg-' }}">
                    {{ block.settings.description }}
                </div>
            {% endunless %}
            {% unless block.settings.btn_text == blank %}
                <a class="btn mt-5 w-100 {{ block.settings.btn_color }} {{ block.settings.btn_size }}" href="{{ block.settings.btn_url }}">
                    {{ block.settings.btn_text }}
                </a>
            {% endunless %}
        </div> 
    </div>
</div>