{% liquid
    assign current_variant = product.selected_or_first_available_variant
    assign current_selling_plan_allocation = current_variant.selected_selling_plan_allocation
 
    if current_selling_plan_allocation == nil and current_variant.requires_selling_plan
        assign current_selling_plan_allocation = current_variant.selling_plan_allocations | first
    endif

  assign save_percentage = current_variant.price | minus: current_variant.selling_plan_allocations.first.price | times: 100.0 | divided_by: current_variant.price | round | append: '%'

  assign mt = block.settings.mt | prepend: 'mt-'
  assign mb = block.settings.mb | prepend: 'mb-'

  assign title_fs_mobile = block.settings.title_font_size_mobile | prepend: 'fs-' 
  assign title_fs_desktop = block.settings.title_font_size_desktop | prepend: 'fs-lg-'
%}
 
{% if product.selling_plan_groups.size > 0 %}
    <fieldset 
        id="product-purchase-options" 
        class="{{ mt }} {{ mb }}" 
        data-sub-selected-first="{{ block.settings.sub_selected_first }}"
        {{ block.shopify_attributes }}>
        {% unless block.settings.title == blank %}
            <h2 class="title {{ title_fs_mobile }} {{ title_fs_desktop }}">
                {{ block.settings.title }}
            </h2>
        {% endunless %}

        {% unless product.requires_selling_plan %}
            <div class="form-check">
                <input 
                    id="purchase-options-one-time"
                    class="form-check-input" 
                    name="purchase_option"
                    type="radio"
                    {% unless product.selected_selling_plan_allocation %}checked{% endunless %}>
                <label class="form-check-label rounded" for="purchase-options-one-time">
                    <span>
                        {{ 'product.purchase_options.option_one_time' | t }} 
                    </span>
                    <b class="fw-500 ms-2" data-price>
                        {{ current_variant.price | money }}
                    </b>
                </label>
            </div>
        {% endunless %}
    
        {% for selling_plan_group in product.selling_plan_groups %}
            <div class="form-check">
                <input 
                    id="purchase-options-subscription"
                    class="form-check-input" 
                    name="purchase_option"
                    type="radio"
                    {% if product.selected_selling_plan_allocation %}checked{% endif %}>
                <label class="form-check-label rounded" for="purchase-options-subscription">
                    <span>
                        {{ 'product.purchase_options.option_subscription' | t }}
                        <small id="purchase-options-subscription-save" class="text-muted">
                            {{ 'product.purchase_options.option_subscription_save' | t: value: save_percentage }}
                        </small>
                    </span>
                    <b class="fw-500 ms-2" data-price>
                        {{ current_variant.selling_plan_allocations.first.price | money }}
                    </b>
                </label>
            </div>
            <div id="purchase-delivery-options" class="py-3" {% unless product.selected_selling_plan_allocation %}hidden{% endunless %}>
                {% for selling_plan_group_option in selling_plan_group.options %}
                    <div class="d-flex ms-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ms-3 me-3" width="24" height="24" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
                        </svg>
                        <div class="input-group d-flex w-100">
                            <label class="input-group-text px-6" for="purchase-delivery-options-select">
                                {{ 'product.purchase_options.option_deliver_every' | t }}
                            </label>
                            <select 
                                id="purchase-delivery-options-select"
                                class="form-select w-auto pe-10"
                                name="selling_plan"
                                data-position="{{ selling_plan_group_option.position }}"
                                {% unless product.selected_selling_plan_allocation %}disabled{% endunless %}>
                                {% for value in selling_plan_group_option.values %}
                                    <option 
                                        value="{{ selling_plan_group.selling_plans[forloop.index0].id }}" 
                                        {% if value == selling_plan_group_option.selected_value %}selected{% endif %}>
                                        {{ value }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% unless block.settings.sub_benefits == blank %}
                        <div class="subscription-benefits rte ms-12 mt-4">
                            {{ block.settings.sub_benefits 
                                | replace: '<ul>', '<ul class="row row-cols-lg-2 list-unstyled mb-0">'
                                | replace: '<li>', '<li class=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>' }}
                        </div>
                    {% endunless %}
                {% endfor %}
            </div>
        {% endfor %}
    </fieldset>
{% endif %}