
{% liquid
    assign current_variant = product.selected_or_first_available_variant 

    assign mt = block.settings.mt | prepend: 'mt-'
    assign mb = block.settings.mb | prepend: 'mb-'
%}

{% if current_variant.compare_at_price > current_variant.price %}
    {% capture countdown_timer %}
        {% if block.settings.countdown_timer == blank %}
        {% else %}
        {% assign block_expiration_time = block.settings.countdown_timer | date: '%s' %}
            <span class="visually-hidden">
                {{ 'general.countdown_timer.expires' | t }}
            </span>
            <ul 
                class="countdown-timer list-unstyled" 
                data-time="{{ block_expiration_time }}"
                data-text-h="{{ 'general.countdown_timer.h' | t }}"
                data-text-m="{{ 'general.countdown_timer.m' | t }}"
                data-text-s="{{ 'general.countdown_timer.s' | t }}"
                data-text-hours="{{ 'general.countdown_timer.hours' | t }}"
                data-text-minutes="{{ 'general.countdown_timer.minutes' | t }}"
                data-text-seconds="{{ 'general.countdown_timer.seconds' | t }}"
                hidden>
                <li data-hours></li>
                <li data-minutes></li>
                <li data-seconds></li> 
            </ul>
        {% endif %}
    {% endcapture %}
    <div 
        id="product-limited-offer" 
        class="d-flex align-items-center {{ mt }} {{ mb }}" 
        style="color: {{ block.settings.color }}"
        {{ block.shopify_attributes }}>
        <div class="block-icon d-flex flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
                <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
                <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"/>
            </svg>
        </div>
        <p class="mb-0 small fst-italic me-2">
            {{ block.settings.text }}
        </p>
        {{ countdown_timer }}
    </div>
{% endif %}
