{% assign block = section.blocks | where: 'type', 'upsell_modal' | first %}

{% if block %}
    {% liquid 
        case settings.offcanvas_img_orientation
            when 'square'
                assign img_width  = 600
                assign img_height = 600
            when 'landscape'
                assign img_width  = 600
                assign img_height = 480
            when 'potrait'
                assign img_width  = 480
                assign img_height = 600
        endcase

        assign metafield_namespace = block.settings.metafield | split: '.' | first
        assign metafield_key = block.settings.metafield | split: '.' | last

        assign upsell_products = product.metafields[metafield_namespace][metafield_key].value 

        if block.settings.limit == 1 or upsell_products.count == 1
            assign rows = 'row-cols-1'
        else
            assign rows = 'row-cols-2'
        endif
    %}

    {% if upsell_products.count > 0 %}
        {% capture countdown_timer %}
            {% unless block.settings.countdown_timer == blank %}
            {% assign block_expiration_time = block.settings.countdown_timer | date: '%s' %}
                <div class="d-flex align-items-center mt-0">
                    <small class="text-muted me-2">
                        {{ block.settings.countdown_timer_pretext }}
                    </small>
                    <ul 
                        class="countdown-timer list-unstyled" 
                        data-time="{{ block_expiration_time }}"
                        data-text-h="{{ 'general.countdown_timer.h' | t }}"
                        data-text-m="{{ 'general.countdown_timer.m' | t }}"
                        data-text-s="{{ 'general.countdown_timer.s' | t }}"
                        data-text-hours="{{ 'general.countdown_timer.hours' | t }}"
                        data-text-minutes="{{ 'general.countdown_timer.minutes' | t }}"
                        data-text-seconds="{{ 'general.countdown_timer.seconds' | t }}">
                        <li class="rounded" data-hours></li>
                        <li class="rounded" data-minutes></li>
                        <li class="rounded" data-seconds></li>
                    </ul>
                </div>
            {% endunless %}
        {% endcapture %}
        <div 
            id="product-upsell-modal"
            class="modal fade" 
            tabindex="-1" 
            aria-labelledby="product-upsell-modal-label" 
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="">
                            <h2
                                id="product-upsell-modal-label"
                                class="modal-title fs-4">
                                {{ block.settings.modal_title }}
                            </h2>
                            {{ countdown_timer }}
                        </div>
                        <button 
                            type="button" 
                            class="btn-close" 
                            data-bs-dismiss="modal"
                            aria-label="{{ 'general.accessibility.close' | t }}">
                        </button>
                    </div>
                    <div class="modal-body py-3">
                        <ul class="product-list list-unstyled row mx-n3 mb-0 text-center {{ rows }}">
                            {% for product in upsell_products limit: block.settings.limit %}
                                <li class="product-item text-center p-3">
                                    <a class="link-dark position-relative d-block" href="{{ product.url }}">
                                        {% if product.available and product.compare_at_price > product.price %}
                                            <span class="img-badge-sale badge">
                                                {{ 'product.save' | t }} {{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round | append: '%' }}
                                            </span>    
                                        {% endif %}
                                        <img 
                                            class="product-item-img img-fluid mb-3 rounded {{ settings.offcanvas_img_thumbnail }}"
                                            src="{{ product.featured_image | image_url: width: img_width, height: img_height, crop: 'center' }}" 
                                            alt="{{ product.featured_image.alt | escape }}"
                                            width="{{ img_width }}"
                                            height="{{ img_height }}" 
                                            loading="lazy">
                                        <h3 class="product-item-title h6 mb-2">
                                            {{ product.title }}
                                        </h3>
                                    </a>
                                    {% render 'product-rating-badge', product: product %}
                                    <p class="product-item-price mb-4">
                                        {% if product.first_available_variant.compare_at_price > product.price %}
                                            <span class="product-item-price-compare text-muted me-1">
                                                <span class="visually-hidden">
                                                    {{ 'product.price_regular' | t }} &nbsp;
                                                </span>
                                                <s>
                                                    {{ product.first_available_variant.compare_at_price | money }}
                                                </s>
                                            </span>
                                            <span class="product-item-price-final">
                                                <span class="visually-hidden">
                                                    {{ 'product.price_sale' | t }} &nbsp;
                                                </span>
                                                {{ product.first_available_variant.price | money }}
                                            </span>
                                        {% else %}
                                            <span class="product-item-price-final">
                                                {{ product.first_available_variant.price | money }}
                                            </span>
                                        {% endif %}
                                    </p>
                                    <div class="form-wrapper">
                                        {% form 'product', product, onsubmit: 'onSubmitAtcForm(this, event)' %}
                                            {% if product.has_only_default_variant %}
                                                <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
                                            {% else %}
                                                <select 
                                                    class="form-select form-select-sm w-100 mb-3" 
                                                    name="id" 
                                                    aria-label="{{ 'product.select_variant' | t }}"
                                                    onchange="onChangeProductItemVariant(this, event)">
                                                    {% for variant in product.variants %}
                                                        <option 
                                                            value="{{ variant.id }}"
                                                            data-compare-at-price="{{ variant.compare_at_price }}"
                                                            data-price="{{ variant.price }}"
                                                            {% if variant.image %}
                                                                data-variant-image="{{ variant.image | image_url: width: img_width, height: img_height, crop: 'center' }}"
                                                            {% endif %}
                                                            >
                                                            {{ variant.title }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                            <button
                                                class="btn-atc btn btn-sm btn-primary w-100" 
                                                type="submit"
                                                name="add"
                                                data-text-add-to-cart="{{ 'product.add' | t }}"
                                                {% unless product.available %}
                                                    disabled
                                                {% endunless %}>
                                                {% if product.available %}
                                                    {{ 'product.add' | t }}
                                                {% else %}
                                                    {{ 'product.sold_out' | t }}
                                                {% endif %}
                                            </button>
                                        {% endform %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button 
                            class="btn btn-outline-secondary w-100" 
                            data-bs-dismiss="modal"
                            data-default-class="btn-outline-secondary"
                            data-active-class="btn-secondary">
                            {{ block.settings.modal_footer_btn }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
