{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    if section.settings.breakpoint_xs_scroll
        assign row_xs = 'xs-scroll'
    else
        assign row_xs = section.settings.breakpoint_xs | prepend: 'row-cols-'
    endif

    assign row_sm = section.settings.breakpoint_sm | prepend: 'row-cols-sm-'
    assign row_md = section.settings.breakpoint_md | prepend: 'row-cols-md-'
    assign row_lg = section.settings.breakpoint_lg | prepend: 'row-cols-lg-'
    assign row_xl = section.settings.breakpoint_xl | prepend: 'row-cols-xl-'
    assign row_xxl = section.settings.breakpoint_xxl | prepend: 'row-cols-xxl-'

    if customer
        assign show_section = section.settings.access_members
    else
        assign show_section = section.settings.access_guests
    endif
%}

{% if show_section %}
    <section 
        id="cards-with-image-{{ section.id }}" 
        class="cards-with-image enter-view position-relative overflow-hidden {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
        <div class="{{ section.settings.container }} ">
            {% render 'section-header' %}
            <div class="row mx-n3 mx-lg-n4 {{ row_xs }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }}">
                {% for block in section.blocks %}
                    {% liquid 
                        case block.settings.img_orientation
                            when 'square'
                                assign img_width  = 600
                                assign img_height = 600
                            when 'landscape'
                                assign img_width  = 600
                                assign img_height = 480
                            when 'potrait'
                                assign img_width  = 480
                                assign img_height = 600
                        endcase
                    %}
                    <div class="col p-3 p-lg-4" {{ block.shopify_attributes }}>
                        <div 
                            class="h-100 {% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}"
                            data-animate-class="{{ section.settings.animation }}"
                            style="animation-delay: {{ forloop.index | times: 150 }}ms;">
                            <div 
                                class="card h-100 {{ block.settings.shadow }} {{ block.settings.border_color }}"
                                style="border-width: {{ block.settings.border_width }}px;">
                                {% if block.settings.video != nil %}
                                    {{- block.settings.video | video_tag: 
                                        class: 'card-img-top', 
                                        image_size: '600x', 
                                        autoplay: block.settings.autoplay, 
                                        loop: block.settings.loop, 
                                        muted: block.settings.muted, 
                                        controls: block.settings.controls
                                    -}}
                                {% elsif block.settings.img != nil %}
                                    <img
                                        class="img-fluid card-img-top"
                                        src="{{ block.settings.img.src | image_url: width: img_width, height: img_height, crop: block.settings.img_crop }}"
                                        alt="{{ block.settings.img.alt | escape }}"
                                        width="{{ img_width }}"
                                        height="{{ img_height }}"
                                        loading="lazy">
                                {% endif %}
                                <div class="card-body {{ block.settings.text_align }}">
                                    {% unless block.settings.title == blank %}
                                        <h3 class="title mb-4 {{ block.settings.title_font_size_mobile | prepend: 'fs-' }} {{ block.settings.title_font_size_desktop | prepend: 'fs-lg-' }}">
                                            {{ block.settings.title }}
                                        </h3>
                                    {% endunless %}
                                    {% unless block.settings.description == blank %}
                                        <div class="description product-card-description rte mt-n2 mb-0 {{ block.settings.description_font_size_mobile | prepend: 'fs-' }} {{ block.settings.description_font_size_desktop | prepend: 'fs-lg-' }}">
                                            {{ block.settings.description }}
                                        </div>
                                    {% endunless %}
                                    {% unless block.settings.btn_text == blank %}
                                        <a class="btn mt-5 w-100 {{ block.settings.btn_color }} {{ block.settings.btn_size }}" href="{{ block.settings.btn_url }}">
                                            {{ block.settings.btn_text }}
                                        </a>
                                    {% endunless %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% schema %}
{
    "name": "Cards With Image",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Background gradient",
            "default": false,
            "info": "Will not apply to light colors"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Cards With Image"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "select",
            "id": "animation",
            "label": "Animation",
            "default": "animate__fadeInRight",
            "options": [
                { "group": "Disabled", "value": "", "label": "No animation" },
                { "group": "Fade", "value": "animate__fadeIn", "label": "Fade In" },
                { "group": "Fade", "value": "animate__fadeInDown", "label": "Fade-in-down" },
                { "group": "Fade", "value": "animate__fadeInLeft", "label": "Fade-in-left" },
                { "group": "Fade", "value": "animate__fadeInRight", "label": "Fade-in-right" },
                { "group": "Fade", "value": "animate__fadeInUp", "label": "Fade-in-up" },
                { "group": "Zoom", "value": "animate__zoomIn", "label": "Zoom-in" },
                { "group": "Zoom", "value": "animate__zoomInDown", "label": "Zoom-in-down" },
                { "group": "Zoom", "value": "animate__zoomInLeft", "label": "Zoom-in-left" },
                { "group": "Zoom", "value": "animate__zoomInRight", "label": "Zoom-in-right" },
                { "group": "Zoom", "value": "animate__zoomInUp", "label": "Zoom-in-up" },
                { "group": "Back", "value": "animate__backInDown", "label": "Back-in-down" },
                { "group": "Back", "value": "animate__backInLeft", "label": "Back-in-left" },
                { "group": "Back", "value": "animate__backInRight", "label": "Back-in-right" },
                { "group": "Back", "value": "animate__backInUp", "label": "Back-in-up" },
                { "group": "Bounce", "value": "animate__bounceIn", "label": "Bounce-in" },
                { "group": "Bounce", "value": "animate__bounceInDown", "label": "Bounce-in-down" },
                { "group": "Bounce", "value": "animate__bounceInLeft", "label": "Bounce-in-left" },
                { "group": "Bounce", "value": "animate__bounceInRight", "label": "Bounce-in-right" },
                { "group": "Bounce", "value": "animate__bounceInUp", "label": "Bounce-in-up" },
                { "group": "LightSpeed", "value": "animate__lightSpeedInLeft", "label": "LightSpeed-in-left" },
                { "group": "LightSpeed", "value": "animate__lightSpeedInRight", "label": "LightSpeed-in-right" }
            ]
        },
        {
            "type": "select",
            "id": "animation_speed",
            "label": "Animation speed",
            "default": "animate__fast",
            "options": [
                { "value": "animate__slower", "label": "Slower" },
                { "value": "animate__slow", "label": "Slow" },
                { "value": "", "label": "Normal" },
                { "value": "animate__fast", "label": "Fast" },
                { "value": "animate__faster", "label": "Faster" }
            ]
        }, 
        {
            "type": "header",
            "content": "Breakpoints",
            "info": "Adjust items per row based on screen resolution"
        },
        {
            "type": "checkbox",
            "id": "breakpoint_xs_scroll",
            "label": "Scroll on mobile",
            "default": false,
            "info": "Note: If enabled, the setting below \"Items per row / xs\" will not apply."
        },
        {
            "type": "range",
            "id": "breakpoint_xs",
            "label": "Items per row / xs",
            "info": "Screen width: less than 576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "breakpoint_sm",
            "label": "Items per row / sm",
            "info": "Screen width: ≥576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "breakpoint_md",
            "label": "Items per row / md",
            "info": "Screen width: ≥768px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_lg",
            "label": "Items per row / lg",
            "info": "Screen width: ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_xl",
            "label": "Items per row / xl",
            "info": "Screen width: ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "breakpoint_xxl",
            "label": "Items per row / xxl",
            "info": "Screen width: ≥1400px",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "header",
            "content": "Access"
        },
        {
            "type": "checkbox",
            "id": "access_guests",
            "label": "Guests",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "access_members",
            "label": "Members",
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "header",
                    "content": "General"
                },
                {
                    "type": "select",
                    "id": "text_align",
                    "label": "Text align",
                    "default": "text-start",
                    "options": [
                        { "value": "text-start", "label": "Left" },
                        { "value": "text-center", "label": "Center" }
                    ]
                },
                {
                    "type": "select",
                    "id": "shadow",
                    "label": "Shadow",
                    "options": [
                        { "value": "shadow-none", "label": "No shadow" },
                        { "value": "shadow-sm", "label": "Shadow sm" },
                        { "value": "shadow", "label": "Shadow" },
                        { "value": "shadow-lg", "label": "Shadow lg" }
                    ],
                    "default": "shadow-sm"
                },
                {
                    "type": "select",
                    "id": "border_color",
                    "label": "Border Color",
                    "options": [
                        { "value": "", "label": "Default" },
                        { "value": "border-primary", "label": "Primary" },
                        { "value": "border-secondary", "label": "Secondary" },
                        { "value": "border-dark", "label": "Dark" },
                        { "value": "border-success", "label": "Success" },
                        { "value": "border-warning", "label": "Warning" },
                        { "value": "border-danger", "label": "Danger" },
                        { "value": "border-info", "label": "Info" }
                    ],
                    "default": ""
                },
                {
                    "type": "range",
                    "id": "border_width",
                    "label": "Border width",
                    "min": 0,
                    "max": 10,
                    "step": 1,
                    "default": 1
                },
                {
                    "type": "header",
                    "content": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "img_orientation",
                    "label": "Image orientation",
                    "default": "landscape",
                    "options": [
                        { "value": "square", "label": "Square" },
                        { "value": "landscape", "label": "Landscape" },
                        { "value": "potrait", "label": "Potrait" }
                    ]
                },
                {
                    "type": "select",
                    "id": "img_crop",
                    "label": "Image crop",
                    "default": "center",
                    "options": [
                        { "value": "top", "label": "Top" },
                        { "value": "center", "label": "Center" },
                        { "value": "bottom", "label": "Bottom" },
                        { "value": "left", "label": "Left" },
                        { "value": "right", "label": "Right" }
                    ]
                },
                {
                    "type": "header",
                    "content": "Video"
                },
                {
                    "type": "video",
                    "id": "video",
                    "label": "Video"
                },
                {
                    "type": "checkbox",
                    "id": "autoplay",
                    "label": "Autoplay",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "loop",
                    "label": "Loop",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "muted",
                    "label": "Muted",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "controls",
                    "label": "Controls",
                    "default": true
                },
                {
                    "type": "header",
                    "content": "Text"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Card With Image"
                },
                {
                    "type": "range",
                    "id": "title_font_size_mobile",
                    "label": "Title font-size | mobile",
                    "min": 1,
                    "max": 12,
                    "default": 4
                },
                {
                    "type": "range",
                    "id": "title_font_size_desktop",
                    "label": "Title font-size | desktop",
                    "min": 1,
                    "max": 12,
                    "default": 4
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
                },
                {
                    "type": "range",
                    "id": "description_font_size_mobile",
                    "label": "Description font-size | mobile",
                    "min": 1,
                    "max": 12,
                    "default": 2
                },
                {
                    "type": "range",
                    "id": "description_font_size_desktop",
                    "label": "Description font-size | desktop",
                    "min": 1,
                    "max": 12,
                    "default": 2
                },
                {
                    "type": "header",
                    "content": "Button"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button text",
                    "default": "Learn more",
                    "info": "Leave empty to disable"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "Button URL"
                },
                {
                    "type": "select",
                    "id": "btn_color",
                    "label": "Button color",
                    "default": "btn-primary",
                    "options": [
                        { "group": "Normal", "value": "btn-link", "label": "Link" },
                        { "group": "Normal", "value": "btn-light", "label": "Light" },
                        { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                        { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                        { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                        { "group": "Normal", "value": "btn-success", "label": "Success" },
                        { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                        { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                        { "group": "Normal", "value": "btn-info", "label": "Info" },
                        { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                        { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                        { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                        { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                        { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                        { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                        { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                        { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
                    ]
                },
                {
                    "type": "select",
                    "id": "btn_size",
                    "label": "Button size",
                    "default": "btn-md",
                    "options": [
                        { "value": "btn-sm", "label": "Small" },
                        { "value": "btn-md", "label": "Normal" },
                        { "value": "btn-lg", "label": "Large" }
                    ]
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Cards With Image",
            "category": "General"
        }
    ]
}
{% endschema %}