{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif
%}

<div 
    id="html-section-{{ section.id }}" 
    class="html-section {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }} }">
    <div class="{{ section.settings.container }}">
        {% render 'section-header' %}
        {{ section.settings.html }}
    </div>
</div>
  
{% schema %}
{
    "name": "HTML/Liquid",
    "settings": [
        {
            "type": "header",
            "content": "HTML/Liquid Code"
        },
        {
            "type": "liquid",
            "id": "html",
            "label": "HTML code",
            "default": "<p class=\"bg-light rounded border p-4\">Today's date: <b>{{ 'now' | date: \"%b %d, %Y\" }}</b></p>",
            "info": "Note: You may use both HTML and Liquid codes."
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "",
            "options": [
                { "group": "Inherit", "value": "", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Background gradient",
            "default": false,
            "info": "Will not apply to light colors"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" },
                { "value": "", "label": "Full width" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "HTML code"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "HTML/Liquid",
            "category": "General"
        }
    ]
}
{% endschema %}