{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    if section.settings.title_branded
        assign title_branded = 'instagram-title-brand'
    endif

    case section.settings.img_orientation
        when 'square'
            assign img_width  = 600
            assign img_height = 600
        when 'landscape'
            assign img_width  = 600
            assign img_height = 480
        when 'potrait'
            assign img_width  = 480
            assign img_height = 600
    endcase
%}

<section 
    id="instagram-gallery-{{ section.id }}"
    class="instagram-gallery {{ bg_color }} {{ section.settings.text_align }} {{ title_branded }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    data-vendor-splide-scroll-script="{{ 'vendor-splide-scroll.min.js' | asset_url }}">
    <div class="overflow-hidden">
        <div class="px-4">
           {% render 'section-header' %}
            {% if section.settings.btn_show %}
                <a 
                    class="btn mt-n2 mb-8 d-inline-flex align-items-center {{ section.settings.btn_color }}" 
                    href="{{ section.settings.btn_url }}">
                    {% if section.settings.btn_icon_show %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon-social-instagram me-3" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.98 0a6.9 6.9 0 0 1 5.08 1.98A6.94 6.94 0 0 1 24 7.02v9.96c0 2.08-.68 3.87-1.98 5.13A7.14 7.14 0 0 1 16.94 24H7.06a7.06 7.06 0 0 1-5.03-1.89A6.96 6.96 0 0 1 0 16.94V7.02C0 2.8 2.8 0 7.02 0h9.96zm.05 2.23H7.06c-1.45 0-2.7.43-3.53 1.25a4.82 4.82 0 0 0-1.3 3.54v9.92c0 1.5.43 2.7 1.3 3.58a5 5 0 0 0 3.53 1.25h9.88a5 5 0 0 0 3.53-1.25 4.73 4.73 0 0 0 1.4-3.54V7.02a5 5 0 0 0-1.3-3.49 4.82 4.82 0 0 0-3.54-1.3zM12 5.76c3.39 0 6.2 2.8 6.2 6.2a6.2 6.2 0 0 1-12.4 0 6.2 6.2 0 0 1 6.2-6.2zm0 2.22a3.99 3.99 0 0 0-3.97 3.97A3.99 3.99 0 0 0 12 15.92a3.99 3.99 0 0 0 3.97-3.97A3.99 3.99 0 0 0 12 7.98zm6.44-3.77a1.4 1.4 0 1 1 0 2.8 1.4 1.4 0 0 1 0-2.8z"></path>
                        </svg>
                    {% endif %}
                    {{ section.settings.btn_text }}
                </a>
            {% endif %}
        </div>
        <div 
            class="splide"
            data-arrows="{{ section.settings.carousel_arrows }}"
            data-pagination="{{ section.settings.carousel_pagination }}"
            data-easing="{{ section.settings.carousel_easing }}"
            data-speed="{{ section.settings.carousel_speed }}"
            data-direction="{{ section.settings.carousel_direction }}"
            data-gap="{{ section.settings.carousel_gap }}"
            data-breakpoint-xs="{{ section.settings.breakpoint_xs }}"
            data-breakpoint-sm="{{ section.settings.breakpoint_sm }}"
            data-breakpoint-md="{{ section.settings.breakpoint_md }}"
            data-breakpoint-lg="{{ section.settings.breakpoint_lg }}"
            data-breakpoint-xl="{{ section.settings.breakpoint_xl }}"
            data-breakpoint-xxl="{{ section.settings.breakpoint_xxl }}" 
            role="group">
            <div class="splide__track mx-n5">
                <ul class="splide__list">
                    {% for block in section.blocks %}
                        <li class="splide__slide" {{ block.shopify_attributes }}>
                            <a href="{{ block.settings.url }}" class="rounded {{ section.settings.img_thumbnail }}" target="_blank">
                                {% if block.settings.img == blank %}
                                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                    {{ 'collection-' | append: current | placeholder_svg_tag }}
                                {% else %}
                                    <img 
                                        class="img-fluid"
                                        src="{{ block.settings.img | image_url: width: img_width, height: img_height, crop: 'center' }}"
                                        alt="{{ block.settings.img.alt | escape }}"
                                        width="{{ img_width }}"
                                        height="{{ img_height }}"
                                        loading="lazy">
                                {% endif %}
                                <span class="instagram-gallery-meta">
                                    {% unless block.settings.likes == blank %}
                                        <span class="instagram-gallery-meta-likes">
                                            {{ block.settings.likes }}
                                        </span>
                                    {% endunless %}
                                    {% unless block.settings.comments == blank %}
                                        <span class="instagram-gallery-meta-comments">
                                            {{ block.settings.comments }}                
                                        </span>
                                    {% endunless %}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Instagram Gallery",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Background gradient",
            "default": false,
            "info": "Will not apply to light colors"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Follow us on Instagram"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
        {
            "type": "checkbox",
            "id": "title_branded",
            "label": "Use brand gradient",
            "default": true
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "checkbox",
            "id": "btn_show",
            "label": "Show button",
            "default": true
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "default": "Follow @shopify"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "checkbox",
            "id": "btn_icon_show",
            "label": "Show button icon",
            "default": true
        },
        {
            "type": "header",
            "content": "Item"
        },
        {
            "type": "select",
            "id": "img_orientation",
            "label": "Image orientation",
            "default": "square",
            "options": [
                { "value": "square", "label": "Square" },
                { "value": "landscape", "label": "Landscape" },
                { "value": "potrait", "label": "Potrait" }
            ]
        },
        {
            "type": "select",
            "id": "img_thumbnail",
            "label": "Image thumbnail",
            "default": "",
            "options": [
                { "value": "", "label": "None" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "header",
            "content": "Carousel"
        },
        {
            "type": "checkbox",
            "id": "carousel_arrows",
            "label": "Show arrows",
            "default": true
        },
        {
            "type": "text",
            "id": "carousel_easing",
            "label": "Easing",
            "default": "cubic-bezier(.42,.65,.27,.99)",
            "info": "[Learn more](https://cubic-bezier.com)"
        },
        {
            "type": "range",
            "id": "carousel_speed",
            "label": "Speed",
            "min": 0,
            "max": 10,
            "default": 1,
            "step": 1,
            "info": "Auto-scrolling speed"
        },
        {
            "type": "select", 
            "id": "carousel_direction",
            "label": "Scrolling direction",
            "default": "left",
            "info": "Auto-scrolling direction",
            "options": [
                { "value": "left", "label": "Left" },
                { "value": "right", "label": "Right" }
            ]
        },
        {
            "type": "range",
            "id": "carousel_gap",
            "label": "Spacing between items",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 2
        },
        {
            "type": "header",
            "content": "Breakpoints",
            "info": "Adjust items per slide based on screen resolution"
        },
        {
            "type": "range",
            "id": "breakpoint_xs",
            "label": "Items per slide / xs",
            "info": "Screen width: less than 576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_sm",
            "label": "Items per slide / sm",
            "info": "Screen width: ≥576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_md",
            "label": "Items per slide / md",
            "info": "Screen width: ≥768px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_lg",
            "label": "Items per slide / lg",
            "info": "Screen width: ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "breakpoint_xl",
            "label": "Items per slide / xl",
            "info": "Screen width: ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 5
        },
        {
            "type": "range",
            "id": "breakpoint_xxl",
            "label": "Items per slide / xxl",
            "info": "Screen width: ≥1400px",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 6
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "post",
            "name": "Post",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Post url"
                },
                {
                    "type": "text",
                    "id": "likes",
                    "label": "Likes",
                    "default": "24",
                    "info": "Leave empty to disable"
                },
                {
                    "type": "text",
                    "id": "comments",
                    "label": "Comments",
                    "default": "12",
                    "info": "Leave empty to disable"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Instagram gallery",
            "category": "general"
        }
    ]
}
{% endschema %}