{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif
%}

<style>
#look-book-{{ section.id }} .look-book-point {
    border: 1px solid var({{ section.settings.point_color }});
}
    
#look-book-{{ section.id }} .look-book-point span {
    background: var({{ section.settings.point_color }});
    width: {{ section.settings.point_diameter }}rem;
    height: {{ section.settings.point_diameter }}rem;
}

#look-book-{{ section.id }} .look-book-point[aria-describedby] {
}

@keyframes look-book-pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(var({{ section.settings.point_color }}-rgb), 0.25);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(var({{ section.settings.point_color }}-rgb), 0);
    }
}
    
@media (max-width: 991px) {
    {% for block in section.blocks %}
        #look-book-{{ section.id }} .look-book-list-item:nth-child({{ forloop.index }}) {
            left: {{ block.settings.mobile_pos_left }}%;
            top: {{ block.settings.mobile_pos_top }}%;
        }
    {% endfor %}
}

@media (min-width: 992px) {
    {% for block in section.blocks %}
        #look-book-{{ section.id }} .look-book-list-item:nth-child({{ forloop.index }}) {
            left: {{ block.settings.desktop_pos_left }}%;
            top: {{ block.settings.desktop_pos_top }}%;
        }
    {% endfor %}
}
</style>

<section 
    id="look-book-{{ section.id }}" 
    class="look-book {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    style="background-color: {{ section.settings.bg_color }}">
    <div class="{{ section.settings.container }}" style="max-width: {{ section.settings.max_width }}px;">
        {% render 'section-header' %}
        <div class="position-relative">
            <div class="d-lg-none">
                {% if section.settings.mobile_image == blank %}
                    {{ 'lifestyle-1' | placeholder_svg_tag }}
                {% else %}
                    <img
                        class="img-fluid rounded w-100 {{ section.settings.img_thumbnail }}"
                        src="{{ section.settings.mobile_image.src | image_url: width: 800 }}"
                        alt="{{ section.settings.mobile_image.alt | escape }}"
                        width="800"
                        height="{{ 600 | divided_by: section.settings.mobile_image.aspect_ratio | round }}"
                        loading="lazy">
                {% endif %}
            </div>
            <div class="d-none d-lg-block">
                {% if section.settings.desktop_image == blank %}
                    {{ 'lifestyle-1' | placeholder_svg_tag }}
                {% else %}
                    <img
                        class="img-fluid rounded w-100 {{ section.settings.img_thumbnail }}"
                        src="{{ section.settings.desktop_image.src | image_url: width: 1600 }}"
                        alt="{{ section.settings.desktop_image.alt | escape }}"
                        width="1600"
                        height="{{ 1600 | divided_by: section.settings.desktop_image.aspect_ratio | round }}"
                        loading="lazy">
                {% endif %}
            </div>
            <ul class="look-book-list list-unstyled" aria-label="Features">
                {% for block in section.blocks %}
                    <li class="look-book-list-item">
                        {% assign product = block.settings.product %}
                        <a
                            class="look-book-point"  
                            data-bs-trigger="focus"
                            data-bs-toggle="popover" 
                            data-bs-html="true"
                            data-bs-placement="top"
                            data-bs-title="{{ block.settings.title }}"
                            tabindex="1"
                            role="button"
                            {% if product == blank %}
                                data-bs-content="
                                    {% unless block.settings.description == blank %}
                                        {{ block.settings.description }}
                                    {% endunless %}
                                "
                            {% else %}
                                data-bs-content="
                                    {% if block.settings.show_image %} 
                                        <img class='img-fluid mb-4' src='{{ product.featured_image | image_url: width: 600 }}' width='600' height='{{ 600 | divided_by: product.featured_image.aspect_ratio | round }}' loading='lazy' />
                                    {% endif %}
                                    {% if block.settings.show_price %} 
                                        <p class='product-item-price mb-2'>
                                            {% if product.compare_at_price > product.price %}
                                                <span class='product-item-price-compare text-muted me-1'>
                                                    <s>{{ product.compare_at_price | money }}</s>
                                                </span>
                                            {% endif %}
                                            <span class='product-item-price-final'>
                                                {{ product.price | money }}
                                            </span>
                                        </p>
                                    {% endif %}
                                    {% unless block.settings.description == blank %}
                                        {{ block.settings.description }}
                                    {% endunless %}
                                    <a href='{{ product.url }}' class='btn btn-sm w-100 mt-4 {{ block.settings.btn_color }}'>
                                        View product
                                    </a>
                                "
                            {% endif %}
                            aria-label="{{ block.settings.title }}">
                            <span></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Look Book",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Background gradient",
            "default": false,
            "info": "Will not apply to light colors"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Max width (px)",
            "info": "Adjust container width (in pixels)"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Look book"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
        },
        {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
        },
        {
            "type": "select",
            "id": "img_thumbnail",
            "label": "Image thumbnail",
            "default": "",
            "options": [
                { "value": "", "label": "None" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "header",
            "content": "Points"
        },
        {
            "type": "select",
            "id": "point_color",
            "label": "Point color",
            "default": "--bs-primary",
            "options": [
                { "group": "Light", "value": "--bs-body-bg", "label": "Body" },
                { "group": "Light", "value": "--bs-white", "label": "White" },
                { "group": "Light", "value": "--bs-light", "label": "Light" },
                { "group": "Dark", "value": "--bs-primary", "label": "Primary" },
                { "group": "Dark", "value": "--bs-secondary", "label": "Secondary" },
                { "group": "Dark", "value": "--bs-dark", "label": "Dark" },
                { "group": "Alert", "value": "--bs-success", "label": "Success" },
                { "group": "Alert", "value": "--bs-warning", "label": "Warning" },
                { "group": "Alert", "value": "--bs-danger", "label": "Danger" },
                { "group": "Alert", "value": "--bs-info", "label": "Info" }
            ]
        },
        {
            "type": "range",
            "id": "point_diameter",
            "label": "Point diameter",
            "unit": "rem",
            "min": 0.2,
            "max": 2,
            "step": 0.1,
            "default": 1
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "point",
            "name": "Point",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Point Title"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
                    "info": "Leave empty to disable"
                },
                {
                    "type": "header",
                    "content": "Product",
                    "info": "Optional"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "checkbox",
                    "id": "show_image",
                    "label": "Show Image",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_price",
                    "label": "Show price",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button text",
                    "default": "View product"
                },
                {
                    "type": "select",
                    "id": "btn_color",
                    "label": "Button color",
                    "default": "btn-primary",
                    "options": [
                        { "group": "Normal", "value": "btn-link", "label": "Link" },
                        { "group": "Normal", "value": "btn-light", "label": "Light" },
                        { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                        { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                        { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                        { "group": "Normal", "value": "btn-success", "label": "Success" },
                        { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                        { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                        { "group": "Normal", "value": "btn-info", "label": "Info" },
                        { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                        { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                        { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                        { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                        { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                        { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                        { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                        { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
                    ]
                },
                {
                    "type": "header",
                    "content": "Mobile Positioning"
                },
                {
                    "type": "range",
                    "id": "mobile_pos_left",
                    "label": "Left (%)",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "mobile_pos_top",
                    "label": "Top (%)",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 0
                },
                {
                    "type": "header",
                    "content": "Desktop Positioning"
                },
                {
                    "type": "range",
                    "id": "desktop_pos_left",
                    "label": "Left (%)",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "desktop_pos_top",
                    "label": "Top (%)",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 0
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Look Book",
            "category": "Image"
        }
    ]
}
{% endschema %}