{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    case section.settings.product_img_orientation
        when 'square'
            assign img_width  = 600
            assign img_height = 600
        when 'landscape'
            assign img_width  = 600
            assign img_height = 480
        when 'potrait'
            assign img_width  = 480
            assign img_height = 600
    endcase
%}

<section 
    id="recently-wishlisted-{{ section.id }}" 
    class="recently-wishlisted featured-products {{ section.settings.bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    data-limit="{{ section.settings.limit }}"
    data-img-width="{{ img_width }}"
    data-img-height="{{ img_height }}"
    data-img-thumbnail="{{ section.settings.product_img_thumbnail }}"
    data-product-title-size="{{ section.settings.product_title_size }}"
    data-product-title-truncate="{{ section.settings.product_title_truncate }}"
    data-show-atc-form="{{ section.settings.product_show_atc_form }}"
    data-show-wishlist="{% if settings.wishlist_enable and section.settings.product_show_wishlist_btn %}true{% else %}false{% endif %}"
    data-text-wishlist-remove="{{ 'general.wishlist.remove_from_wishlist' | t }}"
    data-text-price-regular="{{ 'product.price_regular' | t }}"
    data-text-price-from="{{ 'product.price_from' | t }}"
    data-text-price-sale="{{ 'product.price_sale' | t }}"
    data-text-add-to-cart="{{ 'product.add_to_cart' | t }}"
    data-text-select-variant="{{ 'product.select_variant' }}"
    data-text-wishlist-add="{{ 'general.wishlist.add_to_wishlist' | t }}"
    data-text-wishlist-remove="{{ 'general.wishlist.remove_from_wishlist' | t }}"
    data-text-wishlist-btn-label="{{ 'general.wishlist.btn_label' | t }}"
    hidden>
    <div class="{{ section.settings.container }}">
       {% render 'section-header' %}
        <div 
            class="splide mx-n3 mx-lg-n4"
            data-arrows="{{ section.settings.carousel_arrows }}"
            data-pagination="{{ section.settings.carousel_pagination }}"
            data-easing="{{ section.settings.carousel_easing }}"
            data-speed="{{ section.settings.carousel_speed }}"
            data-autoplay="{{ section.settings.carousel_autoplay }}"
            data-interval="{{ section.settings.carousel_interval | times: 1000 }}"
            data-per-move="{{ section.settings.carousel_per_move }}"
            data-rewind="{{ section.settings.carousel_rewind }}"
            data-breakpoint-xs="{{ section.settings.breakpoint_xs }}"
            data-breakpoint-xs-partial="{{ section.settings.breakpoint_xs_partial }}"
            data-breakpoint-sm="{{ section.settings.breakpoint_sm }}"
            data-breakpoint-md="{{ section.settings.breakpoint_md }}"
            data-breakpoint-lg="{{ section.settings.breakpoint_lg }}"
            data-breakpoint-xl="{{ section.settings.breakpoint_xl }}"
            data-breakpoint-xxl="{{ section.settings.breakpoint_xxl }}"
            data-text-slide-of="{{ 'general.accessibility.slide_of' | t }}"
            role="group">
            <div class="splide__track">
                <ul class="product-list splide__list">
                </ul>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Recently Wishlisted",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" }
            ]
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Recently Wishlisted"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Limit products",
            "min": 2,
            "max": 24,
            "default": 12
        },
        {
            "type": "header",
            "content": "Product"
        },
        {
            "type": "select",
            "id": "product_img_mode",
            "label": "Image mode",
            "options": [
                { "value": "simple", "label": "Simple image" },
                { "value": "hover", "label": "Hover change" },
                { "value": "gallery", "label": "Image gallery" }
            ],
            "default": "gallery"
        },
        {
            "type": "select",
            "id": "product_img_orientation",
            "label": "Image orientation",
            "default": "square",
            "options": [
                { "value": "square", "label": "Square" },
                { "value": "landscape", "label": "Landscape" },
                { "value": "potrait", "label": "Potrait" }
            ]
        },
        {
            "type": "select",
            "id": "product_img_thumbnail",
            "label": "Image thumbnail",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "None" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "select",
            "id": "product_title_size",
            "label": "Title size",
            "default": "h6",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "product_title_truncate",
            "label": "Truncate title",
            "default": "",
            "info": "Useful if your product titles are long",
            "options": [
                { "value": "", "label": "No (default)" },
                { "value": "text-truncate", "label": "One line" }
            ]
        },
        {
            "type": "checkbox",
            "id": "product_show_atc_form",
            "label": "Show 'Add to cart' form",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "product_show_wishlist_btn",
            "label": "Show wishlist button",
            "default": true
        },
        {
            "type": "header",
            "content": "Carousel"
        },
        {
            "type": "checkbox",
            "id": "carousel_arrows",
            "label": "Show arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "carousel_pagination",
            "label": "Show pagination",
            "default": true
        },
        {
            "type": "text",
            "id": "carousel_easing",
            "label": "Easing",
            "default": "cubic-bezier(.42,.65,.27,.99)",
            "info": "[Learn more](https://cubic-bezier.com)"
        },
        {
            "type": "range",
            "id": "carousel_speed",
            "label": "Speed (ms)",
            "min": 50,
            "max": 1000,
            "default": 400,
            "step": 50,
            "info": "Transition speed in milliseconds."
        },
        {
            "type": "checkbox",
            "id": "carousel_autoplay",
            "label": "Autoplay",
            "default": false
        },
        {
            "type": "range",
            "id": "carousel_interval",
            "label": "Autoplay interval (sec)",
            "min": 1,
            "max": 10,
            "default": 5,
            "step": 1
        },
        {
            "type": "select",
            "id": "carousel_per_move",
            "label": "Per move",
            "info": "Number of slides to move.",
            "default": "0",
            "options": [
                { "value": "0", "label": "All in view" },
                { "value": "1", "label": "One by one" }
            ]
        },
        {
            "type": "checkbox",
            "id": "carousel_rewind",
            "label": "Rewind",
            "default": true,
            "info": "Slide back to the first slide"
        },
        {
            "type": "header",
            "content": "Breakpoints",
            "info": "Adjust items per slide based on screen resolution"
        },
        {
            "type": "range",
            "id": "breakpoint_xs",
            "label": "Items per slide / xs",
            "info": "Screen width: less than 576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "checkbox",
            "id": "breakpoint_xs_partial",
            "label": "Partial slides",
            "default": true,
            "info": "Show part of the next slide in mobile view. Only works in the slider mode."
        },
        {
            "type": "range",
            "id": "breakpoint_sm",
            "label": "Items per slide / sm",
            "info": "Screen width: ≥576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_md",
            "label": "Items per slide / md",
            "info": "Screen width: ≥768px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_lg",
            "label": "Items per slide / lg",
            "info": "Screen width: ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_xl",
            "label": "Items per slide / xl",
            "info": "Screen width: ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "breakpoint_xxl",
            "label": "Items per slide / xxl",
            "info": "Screen width: ≥1400px",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "Recently Wishlisted",
            "category": "Products"
        }
    ]
}
{% endschema %}