{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'
%}

<section 
    id="recommended-products-{{ section.id }}" 
    class="recommended-products featured-products {{ section.settings.bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    data-base-url="{{ routes.product_recommendations_url }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}" 
    data-limit="{{ section.settings.limit }}"
    data-intent="{{ section.settings.intent }}">
    <div class="{{ section.settings.container }}">
        {% render 'section-header' %}
        <div 
            class="splide mx-n3 mx-lg-n4"
            data-arrows="{{ section.settings.carousel_arrows }}"
            data-pagination="{{ section.settings.carousel_pagination }}"
            data-easing="{{ section.settings.carousel_easing }}"
            data-speed="{{ section.settings.carousel_speed }}"
            data-autoplay="{{ section.settings.carousel_autoplay }}"
            data-interval="{{ section.settings.carousel_interval | times: 1000 }}"
            data-per-move="{{ section.settings.carousel_per_move }}"
            data-rewind="{{ section.settings.carousel_rewind }}"
            data-breakpoint-xs="{{ section.settings.breakpoint_xs }}"
            data-breakpoint-xs-partial="{{ section.settings.breakpoint_xs_partial }}"
            data-breakpoint-sm="{{ section.settings.breakpoint_sm }}"
            data-breakpoint-md="{{ section.settings.breakpoint_md }}"
            data-breakpoint-lg="{{ section.settings.breakpoint_lg }}"
            data-breakpoint-xl="{{ section.settings.breakpoint_xl }}"
            data-breakpoint-xxl="{{ section.settings.breakpoint_xxl }}"
            data-text-slide-of="{{ 'general.accessibility.slide_of' | t }}"
            role="group">
            <div class="splide__track">
                <ul class="product-list splide__list">
                    {% liquid
                        for product in recommendations.products
                            unless product.tags contains 'hide'
                                render 'product-item', product: product
                            endunless
                        endfor
                    %}
                </ul>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Recommended Products",
    "settings": [
        {
            "type": "paragraph",
            "content": "NOTE: This section works only in the product page."
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" }
            ]
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Recommended Products"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "header",
            "content": "Recommendation settings"
        },
        {
            "type": "select",
            "id": "intent",
            "label": "Intent",
            "default": "related",
            "options": [
                { "value": "related", "label": "Related" },
                { "value": "complementary", "label": "Complementary" }
            ],
            "info": "Shopify offers 2 different modes to set up the recommended products section. \"Related\", which offers customers a mix of products that are similar to a product the customer is interacting with. \"Complementary\" recommandations are products that supplement a product. Only related recommendations are auto-generated by Shopify. Complementary recommendations need to be manually set up. Recommended products for each intent can be configured via the [Shopify Search & Discovery app](https://apps.shopify.com/search-and-discovery)"
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Limit products",
            "min": 2,
            "max": 20,
            "default": 12
        },
        {
            "type": "header",
            "content": "Carousel"
        },
        {
            "type": "checkbox",
            "id": "carousel_arrows",
            "label": "Show arrows",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "carousel_pagination",
            "label": "Show pagination",
            "default": true
        },
        {
            "type": "text",
            "id": "carousel_easing",
            "label": "Easing",
            "default": "cubic-bezier(.42,.65,.27,.99)",
            "info": "[Learn more](https://cubic-bezier.com)"
        },
        {
            "type": "range",
            "id": "carousel_speed",
            "label": "Speed (ms)",
            "min": 50,
            "max": 1000,
            "default": 400,
            "step": 50,
            "info": "Transition speed in milliseconds."
        },
        {
            "type": "checkbox",
            "id": "carousel_autoplay",
            "label": "Autoplay",
            "default": false
        },
        {
            "type": "range",
            "id": "carousel_interval",
            "label": "Autoplay interval (sec)",
            "min": 1,
            "max": 10,
            "default": 5,
            "step": 1
        },
        {
            "type": "select",
            "id": "carousel_per_move",
            "label": "Per move",
            "info": "Number of slides to move.",
            "default": "0",
            "options": [
                { "value": "0", "label": "All in view" },
                { "value": "1", "label": "One by one" }
            ]
        },
        {
            "type": "checkbox",
            "id": "carousel_rewind",
            "label": "Rewind",
            "default": true,
            "info": "Slide back to the first slide"
        },
        {
            "type": "header",
            "content": "Breakpoints",
            "info": "Adjust items per slide based on screen resolution"
        },
        {
            "type": "range",
            "id": "breakpoint_xs",
            "label": "Items per slide / xs",
            "info": "Screen width: less than 576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "checkbox",
            "id": "breakpoint_xs_partial",
            "label": "Partial slides",
            "default": true,
            "info": "Show part of the next slide in mobile view. Only works in the slider mode."
        },
        {
            "type": "range",
            "id": "breakpoint_sm",
            "label": "Items per slide / sm",
            "info": "Screen width: ≥576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_md",
            "label": "Items per slide / md",
            "info": "Screen width: ≥768px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_lg",
            "label": "Items per slide / lg",
            "info": "Screen width: ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_xl",
            "label": "Items per slide / xl",
            "info": "Screen width: ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "breakpoint_xxl",
            "label": "Items per slide / xxl",
            "info": "Screen width: ≥1400px",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "templates": ["product"],
    "presets": [
        {
            "name": "Recommended Products",
            "category": "Products"
        }
    ]
}
{% endschema %}