{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif
%}

<style>
.timeline-list::before {
    width: {{ section.settings.timeline_line_width }}px;   
    background: rgba(var(--{{ section.settings.timeline_line_color }}-rgb), .5);
}
.timeline-list-item::before {
    background: rgba(var(--{{ section.settings.timeline_line_color }}-rgb), 1);
    width: {{ section.settings.timeline_dot_diameter }}px;
    height: {{ section.settings.timeline_dot_diameter }}px;
    transform: translateX({{ section.settings.timeline_dot_diameter | divided_by: 2 }}px);
}
.timeline-list-item:nth-child(odd)::before {
    transform: translateX(-{{ section.settings.timeline_dot_diameter | divided_by: 2 }}px);
}
@media (max-width: 575px) {
    .timeline-list-item::before {
        transform: translateX(-{{ section.settings.timeline_dot_diameter | divided_by: 2 }}px);
    }
}
</style>

<section 
    id="timeline-{{ section.id }}" 
    class="timeline overflow-hidden {{ bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{{ section.settings.container }}" style="max-width: {{ section.settings.max_width }}px;">
        {% render 'section-header' %}
        <ul class="timeline-list">
            {% for block in section.blocks %}
                {% liquid
                    assign img_size = 900

                    case block.settings.img_orientation
                        when 'square'
                            assign img_width  = img_size
                            assign img_height = img_size
                        when 'landscape-4x3'
                            assign img_width  = img_size
                            assign img_height = img_size | divided_by: 4 | times: 3 | round
                        when 'landscape-16x9'
                            assign img_width  = img_size
                            assign img_height = img_size | divided_by: 16 | times: 9 | round
                        when 'landscape-21x9'
                            assign img_width  = img_size
                            assign img_height = img_size | divided_by: 21 | times: 9 | round
                        when 'potrait-3x4'
                            assign img_width  = img_size | divided_by: 3 | times: 4 | round
                            assign img_height = img_size
                        when 'potrait-9x16'
                            assign img_width  = img_size | divided_by: 9 | times: 16 | round
                            assign img_height = img_size
                        when 'potrait-9x21'
                            assign img_width  = img_size | divided_by: 9 | times: 21 | round
                            assign img_height = img_size
                        when 'adapt'
                            assign img_width  = img_size
                            assign img_height = img_size | divided_by: block.settings.img.aspect_ratio | round
                    endcase
                %}
                <li class="timeline-list-item enter-view py-4" {{ block.shopify_attributes }}>
                    <div 
                        class="{% unless block.settings.animation == '' %}animate__animated opacity-0 {{ block.settings.animation_speed }}{% endunless %}"
                        data-animate-class="{{ block.settings.animation }}"
                        style="animation-delay: 100ms;">
                        <div 
                            class="card {{ block.settings.shadow }} {{ block.settings.border_color }}"
                            style="border-width: {{ block.settings.border_width }}px;">
                            {% unless block.settings.img == blank %}
                                <img
                                    class="img-fluid card-img-top"
                                    src="{{ block.settings.img.src | image_url: width: img_width, height: img_height, crop: block.settings.img_crop }}"
                                    alt="{{ block.settings.img.alt | escape }}"
                                    width="{{ img_width }}"
                                    height="{{ img_height }}"
                                    loading="lazy">
                            {% endunless %}
                            <div class="card-body {{ block.settings.text_align }}">
                                {% unless block.settings.date == blank %}
                                    <p class="badge text-uppercase mb-5 {{ block.settings.date_bg_color }}">
                                        {{ block.settings.date }}
                                    </p>
                                {% endunless %}
                                {% unless block.settings.title == blank %}
                                    <h3 class="title mb-3 {{ block.settings.title_font_size_mobile | prepend: 'fs-' }} {{ block.settings.title_font_size_desktop | prepend: 'fs-lg-' }}">
                                        {{ block.settings.title }}
                                    </h3>
                                {% endunless %}
                                {% unless block.settings.description == blank %}
                                    <div class="description rte mb-0 {{ block.settings.description_font_size_mobile | prepend: 'fs-' }} {{ block.settings.description_font_size_desktop | prepend: 'fs-lg-' }}">
                                        {{ block.settings.description }}
                                    </div>
                                {% endunless %}
                                {% unless block.settings.btn_text == blank %}
                                    <a class="btn mt-5 w-100 {{ block.settings.btn_color }} {{ block.settings.btn_size }}" href="{{ block.settings.btn_url }}">
                                        {{ block.settings.btn_text }}
                                    </a>
                                {% endunless %}
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if section.settings.btn_show %}
            <a 
                class="btn btn-md mt-4 mb-0 {{ section.settings.btn_color }} {{ section.settings.btn_size }}" 
                href="{{ section.settings.btn_url }}">
                {{ section.settings.btn_text }}
            </a>
        {% endif %}
    </div>
</section>

{% schema %}
{
    "name": "Timeline",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-body text-body",
            "options": [
                { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Background gradient",
            "default": false,
            "info": "Will not apply to light colors"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Max width (px)",
            "info": "Adjust container width (in pixels)"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Timeline"
        },
        {
            "type": "range",
            "id": "title_font_size_mobile",
            "label": "Title font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 6
        },
        {
            "type": "range",
            "id": "title_font_size_desktop",
            "label": "Title font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 8
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "range",
            "id": "description_font_size_mobile",
            "label": "Description font-size | mobile",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "range",
            "id": "description_font_size_desktop",
            "label": "Description font-size | desktop",
            "min": 1,
            "max": 12,
            "default": 2
        },
        {
            "type": "header",
            "content": "Timeline"
        },
        {
            "type": "range",
            "id": "timeline_line_width",
            "label": "Line width",
            "unit": "px",
            "min": 1,
            "max": 20,
            "step": 1,
            "default": 4
        },
        {
            "type": "select",
            "id": "timeline_line_color",
            "label": "Line color",
            "default": "bs-primary",
            "options": [
                { "group": "Light", "value": "bs-body", "label": "Body" },
                { "group": "Light", "value": "bs-white", "label": "White" },
                { "group": "Light", "value": "bs-light", "label": "Light" },
                { "group": "Dark", "value": "bs-primary", "label": "Primary" },
                { "group": "Dark", "value": "bs-secondary", "label": "Secondary" },
                { "group": "Dark", "value": "bs-dark", "label": "Dark" },
                { "group": "Alert", "value": "bs-success", "label": "Success" },
                { "group": "Alert", "value": "bs-warning", "label": "Warning" },
                { "group": "Alert", "value": "bs-danger", "label": "Danger" },
                { "group": "Alert", "value": "bs-info", "label": "Info" }
            ]
        },
        {
            "type": "range",
            "id": "timeline_dot_diameter",
            "label": "Dot diameter",
            "unit": "px",
            "min": 1,
            "max": 40,
            "step": 1,
            "default": 20
        },
        {
            "type": "header",
            "content": "'View more' Button"
        },
        {
            "type": "checkbox",
            "id": "btn_show",
            "label": "Show button",
            "default": true
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "default": "Learn more"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "header",
                    "content": "General"
                },
                {
                    "type": "select",
                    "id": "text_align",
                    "label": "Text align",
                    "default": "text-start",
                    "options": [
                        { "value": "text-start", "label": "Left" },
                        { "value": "text-center", "label": "Center" },
                        { "value": "text-end", "label": "Right" }
                    ]
                },
                {
                    "type": "select",
                    "id": "shadow",
                    "label": "Shadow",
                    "options": [
                        { "value": "shadow-none", "label": "No shadow" },
                        { "value": "shadow-sm", "label": "Shadow sm" },
                        { "value": "shadow", "label": "Shadow" },
                        { "value": "shadow-lg", "label": "Shadow lg" }
                    ],
                    "default": "shadow-sm"
                },
                {
                    "type": "select",
                    "id": "border_color",
                    "label": "Border Color",
                    "options": [
                        { "value": "", "label": "Default" },
                        { "value": "border-primary", "label": "Primary" },
                        { "value": "border-secondary", "label": "Secondary" },
                        { "value": "border-dark", "label": "Dark" },
                        { "value": "border-success", "label": "Success" },
                        { "value": "border-warning", "label": "Warning" },
                        { "value": "border-danger", "label": "Danger" },
                        { "value": "border-info", "label": "Info" }
                    ],
                    "default": ""
                },
                {
                    "type": "range",
                    "id": "border_width",
                    "label": "Border width",
                    "min": 0,
                    "max": 10,
                    "step": 1,
                    "default": 1
                },
                {
                    "type": "header",
                    "content": "Animation"
                },
                {
                    "type": "select",
                    "id": "animation",
                    "label": "Animation",
                    "default": "animate__fadeInRight",
                    "options": [
                        { "group": "Disabled", "value": "", "label": "No animation" },
                        { "group": "Fade", "value": "animate__fadeIn", "label": "Fade In" },
                        { "group": "Fade", "value": "animate__fadeInDown", "label": "Fade-in-down" },
                        { "group": "Fade", "value": "animate__fadeInLeft", "label": "Fade-in-left" },
                        { "group": "Fade", "value": "animate__fadeInRight", "label": "Fade-in-right" },
                        { "group": "Fade", "value": "animate__fadeInUp", "label": "Fade-in-up" },
                        { "group": "Zoom", "value": "animate__zoomIn", "label": "Zoom-in" },
                        { "group": "Zoom", "value": "animate__zoomInDown", "label": "Zoom-in-down" },
                        { "group": "Zoom", "value": "animate__zoomInLeft", "label": "Zoom-in-left" },
                        { "group": "Zoom", "value": "animate__zoomInRight", "label": "Zoom-in-right" },
                        { "group": "Zoom", "value": "animate__zoomInUp", "label": "Zoom-in-up" },
                        { "group": "Back", "value": "animate__backInDown", "label": "Back-in-down" },
                        { "group": "Back", "value": "animate__backInLeft", "label": "Back-in-left" },
                        { "group": "Back", "value": "animate__backInRight", "label": "Back-in-right" },
                        { "group": "Back", "value": "animate__backInUp", "label": "Back-in-up" },
                        { "group": "Bounce", "value": "animate__bounceIn", "label": "Bounce-in" },
                        { "group": "Bounce", "value": "animate__bounceInDown", "label": "Bounce-in-down" },
                        { "group": "Bounce", "value": "animate__bounceInLeft", "label": "Bounce-in-left" },
                        { "group": "Bounce", "value": "animate__bounceInRight", "label": "Bounce-in-right" },
                        { "group": "Bounce", "value": "animate__bounceInUp", "label": "Bounce-in-up" },
                        { "group": "LightSpeed", "value": "animate__lightSpeedInLeft", "label": "LightSpeed-in-left" },
                        { "group": "LightSpeed", "value": "animate__lightSpeedInRight", "label": "LightSpeed-in-right" }
                    ]
                },
                {
                    "type": "select",
                    "id": "animation_speed",
                    "label": "Animation speed",
                    "default": "animate__fast",
                    "options": [
                        { "value": "animate__slower", "label": "Slower" },
                        { "value": "animate__slow", "label": "Slow" },
                        { "value": "", "label": "Normal" },
                        { "value": "animate__fast", "label": "Fast" },
                        { "value": "animate__faster", "label": "Faster" }
                    ]
                }, 
                {
                    "type": "header",
                    "content": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "img_orientation",
                    "label": "Image orientation",
                    "default": "landscape-16x9",
                    "options": [
                        { "value": "square", "label": "Square" },
                        { "value": "landscape-4x3", "label": "Landscape 4x3" },
                        { "value": "landscape-16x9", "label": "Landscape 16x9" },
                        { "value": "landscape-21x9", "label": "Landscape 21x9" },
                        { "value": "potrait-3x4", "label": "Potrait 3x4" },
                        { "value": "potrait-9x16", "label": "Potrait 9x16" },
                        { "value": "potrait-9x21", "label": "Potrait 9x21" },
                        { "value": "adapt", "label": "Adapt to image" }
                    ]
                },
                {
                    "type": "select",
                    "id": "img_crop",
                    "label": "Image crop",
                    "default": "center",
                    "options": [
                        { "value": "top", "label": "Top" },
                        { "value": "center", "label": "Center" },
                        { "value": "bottom", "label": "Bottom" },
                        { "value": "left", "label": "Left" },
                        { "value": "right", "label": "Right" }
                    ]
                },
                {
                    "type": "header",
                    "content": "Text"
                },
                {
                    "type": "text",
                    "id": "date",
                    "label": "Date",
                    "default": "Jan 2024"
                },
                {
                    "type": "select",
                    "id": "date_bg_color",
                    "label": "Date bg color",
                    "default": "bg-primary text-white",
                    "options": [
                        { "group": "Light", "value": "bg-body text-body", "label": "Body" },
                        { "group": "Light", "value": "bg-white text-body", "label": "White" },
                        { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                        { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                        { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                        { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                        { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                        { "group": "Alert", "value": "bg-warning text-white", "label": "Warning" },
                        { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                        { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Timeline Item"
                },
                {
                    "type": "range",
                    "id": "title_font_size_mobile",
                    "label": "Title font-size | mobile",
                    "min": 1,
                    "max": 12,
                    "default": 4
                },
                {
                    "type": "range",
                    "id": "title_font_size_desktop",
                    "label": "Title font-size | desktop",
                    "min": 1,
                    "max": 12,
                    "default": 4
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
                },
                {
                    "type": "range",
                    "id": "description_font_size_mobile",
                    "label": "Description font-size | mobile",
                    "min": 1,
                    "max": 12,
                    "default": 2
                },
                {
                    "type": "range",
                    "id": "description_font_size_desktop",
                    "label": "Description font-size | desktop",
                    "min": 1,
                    "max": 12,
                    "default": 2
                },
                {
                    "type": "header",
                    "content": "Button"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button text",
                    "default": "Learn more",
                    "info": "Leave empty to disable"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "Button URL"
                },
                {
                    "type": "select",
                    "id": "btn_color",
                    "label": "Button color",
                    "default": "btn-primary",
                    "options": [
                        { "group": "Normal", "value": "btn-link", "label": "Link" },
                        { "group": "Normal", "value": "btn-light", "label": "Light" },
                        { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                        { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                        { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                        { "group": "Normal", "value": "btn-success", "label": "Success" },
                        { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                        { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                        { "group": "Normal", "value": "btn-info", "label": "Info" },
                        { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                        { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                        { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                        { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                        { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                        { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                        { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                        { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
                    ]
                },
                {
                    "type": "select",
                    "id": "btn_size",
                    "label": "Button size",
                    "default": "btn-md",
                    "options": [
                        { "value": "btn-sm", "label": "Small" },
                        { "value": "btn-md", "label": "Normal" },
                        { "value": "btn-lg", "label": "Large" }
                    ]
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Timeline",
            "category": "General"
        }
    ]
}
{% endschema %}